<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">
        Site title
      </a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a a routerLink="/jokes">All jokes</a></li>
        <li *ngIf="userLoggedIn()" [routerLink]="['/user/profile', user.id]"><a style="cursor: pointer">Profile</a></li>
        <li *ngIf="userLoggedIn()" routerLink="/create/joke"><a style="cursor: pointer">Create Joke</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!userLoggedIn()"><a routerLink="/auth/login">Login</a> </li>
        <li *ngIf="!userLoggedIn()"><a routerLink="/auth/register">Register</a> </li>
        <li *ngIf="userLoggedIn()" (click)="logout()"><a style="cursor: pointer;">Logout</a> </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <app-notify></app-notify>
  <!-- The outlet for the different components -->
  <router-outlet></router-outlet>
</div>
